<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="atm" class="com.suraj.spring.beans.ATM">
		<property name="printer" ref="printer"></property>
	</bean>
	
	<bean id="printer" class="com.suraj.spring.beans.PrinterFactory" factory-method="getPrinter"/>
</beans>